<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiquiForce.LFSLive.DA.RAF.Properties.Settings.LfsdbLiveSite3ConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=LfsdbLiveSite3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>