<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiquiForce.LFSLive.DA.LabourHours.Properties.Settings.LFSDBConnectionString"
            connectionString="Data Source=PIGI;Initial Catalog=LFSDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.LabourHours.Properties.Settings.eCRM_50202gConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=&quot;eCRM 50202g&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.LabourHours.Properties.Settings.LiveSite3ConnectionString"
            connectionString="Data Source=nerd1;Initial Catalog=LiveSite3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.LabourHours.Properties.Settings.eCRMLive2ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.LabourHours.Properties.Settings.eCRMLive6ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.LabourHours.Properties.Settings.eCRMLive5ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.LabourHours.Properties.Settings.LFSDB9ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>