<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.LFSDBConnectionString"
            connectionString="Data Source=WORKSTATION1;Initial Catalog=LFSDB_production;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.LfsdbLiveSite3ConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=LfsdbLiveSite3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.LFSDB9ConnectionString"
            connectionString="Data Source=sussel2;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.eCRM3ConnectionString"
            connectionString="Data Source=DEVRNV;Initial Catalog=eCRM3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.eCRM3ConnectionString1"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRM3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.eCRM2ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRM2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.LFSDB9ConnectionString1"
            connectionString="Data Source=DEVENV;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.eCRMLive2ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.eCRMLive6ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.Test1ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=Test1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Projects.Properties.Settings.Live1ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=Live1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
