<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiquiForce.LFSLive.DA.FleetManagement.Properties.Settings.Dev_Raf3ConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=Dev_Raf3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.FleetManagement.Properties.Settings.LFSDB9ConnectionString"
            connectionString="Data Source=SUSSEL2;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.FleetManagement.Properties.Settings.LFSDB9ConnectionString1"
            connectionString="Data Source=DEVENV;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.FleetManagement.Properties.Settings.eCRM2ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRM2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.FleetManagement.Properties.Settings.eCRMLive5ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>