<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiquiForce.LFSLive.DA.Resources.Properties.Settings.LFSDB9ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Resources.Properties.Settings.eCRM2ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRM2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Resources.Properties.Settings.eCRMLiveConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Resources.Properties.Settings.eCRMLive2ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Resources.Properties.Settings.eCRMLive6ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive6;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.Resources.Properties.Settings.eCRMLive5ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
