<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.LFSDB_productionConnectionString"
            connectionString="Data Source=WORKSTATION1;Initial Catalog=LFSDB_production;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.LFSDB5ConnectionString"
            connectionString="Data Source=SUSSEL;Initial Catalog=LFSDB5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.LfsdbLiveSite3ConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=LfsdbLiveSite3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.LFSDBTempConnectionString"
            connectionString="Data Source=SUSSEL;Initial Catalog=LFSDBTemp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.Dev_Raf3ConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=Dev_Raf3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.eCRM_adConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=&quot;eCRM ad&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.eCRM_aqConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=&quot;eCRM aq&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.testsiteConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=testsite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.livesiteConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=livesite;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.livesiteoriginal2ConnectionString"
            connectionString="Data Source=NERD1;Initial Catalog=livesiteoriginal2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.LiveSite3ConnectionString"
            connectionString="Data Source=nerd1;Initial Catalog=LiveSite3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.LFSDB9ConnectionString"
            connectionString="Data Source=sussel2;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.LFSDB9ConnectionString1"
            connectionString="Data Source=DEVENV;Initial Catalog=LFSDB9;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LiquiForce.LFSLive.DA.CWP.Properties.Settings.eCRMLive5ConnectionString"
            connectionString="Data Source=DEVENV;Initial Catalog=eCRMLive5;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>